<script>
let a = [
        {name:'James',fname:'peeter'},
        {name:'Parker',fname:'peeter'},
        {name:'Harry',fname:'peeter'}
    ];
</script>
<ul>
    <script>
        for(m in a){
            document.write("<li>"+a[m]['name']+"</li>");
        }
    </script>
</ul>